@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 255, 0, 0;
  --background-start-rgb: 255, 255, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 223, 0, 0; */
    --background-color:#521254;
  }
}

body {
  font-family: 'Inter', sans-serif;

  width: 100%;
height: auto;
  margin: auto;
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);

}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-ms-reveal {
  display: none;
}