.inputs {
  width: 100%;
  padding-top: 6px;
  }
.alt{
  padding-top: 1vw;
}
.container{
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; 
  font-size: 1.2vw;

}
  .input {
  position: relative;

  width: 100%;
  height: 3vw;
  border: none;

  font-size: 1.5vw;
  outline: none;
  display: flex;
 justify-content: center;
  }
  .input2 {
    display: flex;
  width: 30vw;
  height:auto;
  font-size: 1.2vw;
  gap:2vw;
  background: white;
  border-radius: 3vw;
 
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;

  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  }

  .img{
    /* background-color: red; */
    height:2.5vw;
    width: 2.5vw;
  }

.inputcontent{
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Align items vertically */
    gap: 1.2vw;
    padding-bottom: 3.5vw;
    padding-top: 2.7vw;
    /* background-color: aquamarine; */

  }