.container{
    /* background-color: black; */
    display: flex;
    height: auto;
    /* align-items: center; */
    justify-content: center;
    /* overflow: hidden; */
}

.leftcontent{
    /* background-color: green; */
    height: auto;
    width: 45vw;
    background-image: url('../assets/images/Rectangle137.png');
       
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.rightcontent{
    /* background-color: blue; */
    /* padding-top: 10%; */
    width: 50vw;
    height: auto;
    
    
}

.image {
    width: 60vw; /* Set image width to 100% of the parent div */
    height: 90%; /* Set image height to 100% of the parent div */
}