
.home {
    max-height: 1440px;
    background: purple contain no-repeat right;
  }

  .gridcontent {

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* padding: 4px;  */
    padding-top:0.4vw ;
    /* background-color: red; */
    
  }
  .silverrobot {
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    /* align-items: center; */
    
  }
  .pagedets {
    color: #ffffff;
   /* width: 80vw;
   background-color: red; */
    margin-bottom: 5vw;
    /* width: 780px; */
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    gap: 1.2vw;
    display: flex;
    flex-direction: column;

  }
  .titletext {
    font-size: 1.6vw;
    /* background-color: red; */
  }


  .paragraph{
    /* background-color: green; */
    font-size: 1.3vw;
    color: #BAA0BB;
    font-weight: normal;
  }
  
  .landingContent {
    /* background-color: red; */
    /* text-align: center; */
    height: auto;
    width: 50vw;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-bottom: 1.6vw;
    align-items: center;
    justify-content: center;
   gap: 2vw;
    margin-top: 11px;
    
    
  }

  .subtitle {
    color: #BAA0BB;
    display: flex;
    flex-direction: column;
   
    font-size: 1.3vw;
    align-items: center;
 
    justify-content: center;
  }

  .my6 {
    margin-bottom: 23px
  }
  
  .ltext {
    font-size: 1.4mv;
    font-weight: bold;
    color: white;


  }
  
  .landing-image {
    width: 780px;
    height: 400px;
  }
  
  /* Features Section */
  .features {
    background: lightpurple;
    height: 100%;
    padding: 36px 12px;
  }
  
  .features-title {
    font-size: 3xl;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }

  .about {
    /* background-color:black; */
    background-image: url('./adinkra.png');
    /* background-size: '75% 50%'; */
    
    background-repeat: no-repeat;
    background-size: 50% 60%;
  
    


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .about > div {
    /* background-color: black; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about > div > h1 {
    font-size: 27px;
    font-weight: bold;

    margin-bottom: 10px;
  }
  
  .about > div > p {
    width: 2/3;
    min-width: 500px;
    font-size: 18px;
    color: #BAA0BB;
    margin-bottom: 102px;
  }
  
  
  

  .infocard{
    /* background-color: blue; */
    display: flex;
    gap: 1.3vw;
  }
  

  .profilegrid {
    /* background-color: red; */
    display: flex;
    gap: 3vw;
    /* max-width: 1000px; */
    width: 100vw;
    padding-right: 8vw;
    padding-left: 8vw;
    justify-content: center;
 


    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  }
  

  .Testimonialgrid {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw; /* Adjust the gap as needed */
    /* margin-top: 10px; */
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: center;
    align-items: center;
  }


  .testcontainer {
    padding-top: 0.5vw;
    display: flex;
    /* background-color: aqua; */
    /* flex-direction: column; */
 
  }
  
  .testimage {
    width: 50px;
    height: 50px;
  }
  
  .testtitle {
    font-size: 2xl; /* Adjust the font size as needed */
  }


  .testimonial {
   
    background-image: url('./adinkra2.png');
    background-position:  bottom right;
   
    
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 2vw;
    gap: 0.3vw;

  }

  .test{
    display: flex;
    flex-direction: column;
  
    gap: 0.2vw;
    align-items: center;
    width:100vw ;
  }

  

  

  
  
  