.container{
    /* background-color: black; */
    display: flex;
    height: 85vh;
    align-items: center;
}

.leftcontent{
    /* background-color: green; */
    height: 85vh;
    width: 50vw;
    background-image: url('../assets/images/rectangle135.png');
       
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.rightcontent{
    /* background-color: blue; */
    width: 50vw;
    height: 85vh;
    
}

.image {
    width: 100%; /* Set image width to 100% of the parent div */
    height: 100%; /* Set image height to 100% of the parent div */
    object-fit: cover; /* Ensures the image covers the entire space of the div */
  }