.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  /* background-color: red; */
  width: 30vw;
  height: 10vw;
  gap: 2vw;
  
    border-right: 2px solid #ffffff; /* Adjust the border color and size as needed */
    padding-right: 4vw; /* Adjust the padding as needed */
    /* padding-left: 40px; */
  }
  
  .cardContainer:last-child {
    border-right: none; /* Remove border for the last element */
  }
  

  .cardTitle {
    /* background-color: red; */
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    /* align-items: left; */
    justify-content: right;
  }
  .description {
    font-size: 1vw; /* Adjust the font size as needed */
    padding-bottom: 10px;
    font-style: italic;
  }
